/node_modules
/public
!/public/
/public/*
!/public/pdf/
/public/pdf/*
!/public/pdf/manual-book-v-hire-user.pdf
!/public/pdf/MANUAL BOOK V-HIRE (1).pdf
!/public/vendor/
/public/vendor/*
!/public/vendor/tinymce/
!/public/vendor/tinymce/**
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
firebase.json
